name: Notify Slack on Push

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack notification
        run: |
          curl -X POST ${{ secrets.PRODUCT_UPDATES_SLACK_WEBHOOK_URL }} \
          -H 'Content-Type: application/json' \
          -d '{
            "text": "New commit to *${{ github.repository }}*",
            "blocks": [
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "*Repository:* <${{ github.event.repository.html_url }}|${{ github.repository }}>\n*Commit:* `${{ github.event.head_commit.message }}`\n*Author:* ${{ github.event.head_commit.author.name }}"
                }
              }
            ]
          }'
